<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Tabela de Operações</title>
    <link rel="stylesheet" href="/styles/investimento.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container" >
        <div class="form-container">
            <form method="post" id="myForm" action="/app/investimentos/post">
                <div class="form-input-post">
                    <div>
                        <label for="post-data">Data:</label>
                        <input type="text" id="post-data" name="data" maxlength="">
                    </div>
        
                    <div>
                        <label for="post-codigo">Código:</label>
                        <select id="post-codigo" name="codigo">
                           <!-- option dynamically created -->
                        </select>
                    </div>
        
                    <div>
                        <label for="post-quantidade">Quantidade:</label>
                        <input type="number" id="post-quantidade" name="quantidade">
                    </div>
        
                    <div>
                        <label for="post-valor-unitario">Valor Unitário:</label>
                        <input type="text" id="post-valor-unitario" name="valorUnitario">
                    </div>
        
                    <div>
                        <label for="post-compra_venda">Compra/Venda:</label>
                        <select id="post-compra_venda" name="compraVenda">
                            <option value="C" selected>Compra</option>
                            <option value="V">Venda</option>
                        </select>
                    </div>
        
                    <div>
                        <label for="post-taxa_corretagem">Taxa Corretagem:</label>
                        <input type="number" id="post-taxa-corretagem" name="taxaCorretagem">
                    </div>    
                </div>
                <div id="form-post-btn">
                    <button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="table-content">
                <div class="table-header">
                    <p>Data</p>
                    <p>Código</p>
                    <p>Quantidade</p>
                    <p>Valor Unitário</p>
                    <p>Compra ou Venda</p>
                    <p>Valor da Operação</p>
                    <p>Taxa Corretagem</p>
                    <p>Taxa de Imposto</p>
                    <p>Valor Final</p>
                    <p>Preco Medio</p>
                    <p>Lucro/Prejuízo</p>
                    <div class="filter-icon">
                        <i class="mdi mdi-filter-variant"></i>
                    </div>
                </div>
                <div class="table-body">
                    <div class="item-field">
                        <!-- items dynamically created -->
                    </div>
                    <div class="button-field">
                        <!-- buttons  dynamically created -->
                    </div>
                </div>
            </div>
            <div class="filter-field">
                <div class="filter-form">
                    <div class="filter-form-item">
                        <label for="filter-data-investimento">Data Investimento</label>
                        <select id="filter-data-investimento" name="dataInvestimento">
                            <option selected value="">selecione</option>
                            <option value="ASC">Ordem Crescente</option>
                            <option value="DESC">Ordem Decrescente</option>
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-codigo-ativo">Codigo Ativo</label>
                        <select name="codigoAtivo" id="filter-codigo-ativo">
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-compra-venda">Compra ou venda</label>
                        <select name="compraVenda" id="filter-compra-venda">
                            <option selected value="">selecione</option>
                            <option value="C">Compra</option>
                            <option value="V">Venda</option>
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-valor-final">valor final</label>
                        <select id="filter-valor-final" name="valorFinal">
                            <option selected value="">selecione</option>
                            <option value="ASC">Ordem Crescente</option>
                            <option value="DESC">Ordem Decrescente</option>
                        </select>
                    </div>
                </div>
                <div class="filter-form-button">
                    <button id="reset-filter-btn">Limpar</button>
                    <button id="apply-filter-btn">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/investimento.js"></script>
    <script src="https://kit.fontawesome.com/8f0a4b5e75.js" crossorigin="anonymous"></script>
</body>
</html>